.images .img{
    width: 100%;
}

.ReactModal__Content{
    background-color: #102B3A !important; 
    border: 2px solid rgb(31, 138, 31);
    width: 60%;
    padding: 10px 5px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
   
}

.ReactModal__Overlay{
    background-color: transparent !important;
}