.background {
    
     /* background: url(""); */

     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.522)),
          url('/parallax-img-3.jpg');

     background-repeat: no-repeat;
     background-size: calc(1);
     background-attachment: fixed;
     background-position: 100%;
     background-size: auto;

     width: 100%;
     min-height: 500px;
     background-position: 100%;


}