@tailwind base;
@tailwind components;
@tailwind utilities;



.boxshadow {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

<<<<<<< HEAD
.primary {
  color: #27895C;
}
.primaryBg2 {
  background-color: #27895C;
  
}
.primaryBg2:hover {
  background-color: #04693a;
  
}

.textColor {
  color: #000000b0;
}
.textColor2{
  color: #BEF264;
}
.boxshadow {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

   body{
      background-color: #ECF0F3;
      color: black;
   }
   

=======
   body{
      background-color: #ECF0F3;
      color: black;
   }
   

>>>>>>> 844786665bfc6fb3997765df005ee41a396bba28
   .primaryBg {
      background-color: #27895C;
    }
    
    .primary {
      color: #27895C;
    }
    
    .textColor {
      color: #000000b0;
    }
<<<<<<< HEAD
=======

    /* .presetBtn{
      font-size:small;
      color: gray
    } */
>>>>>>> 844786665bfc6fb3997765df005ee41a396bba28
