.backgroundImage{
    background-image: url('../../assets/versity.jpg');
    background-color: #0EE6B8;
    
}
.bgBox{
    background-color: #0EE6B8;
}
.bgBodx{
    background-color: rgba(93, 0, 255, 0.142), 0, 191;
}